<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="PM" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Threshold" value="INFO"/>
		<param name="File" value="${catalina.base}/logs/pm.log" />
        <param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %5p - %C - %M - %m%n" />
		</layout>
	</appender>
	<appender name="PM-DEBUG" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="Threshold" value="DEBUG"/>
		<param name="File" value="${catalina.base}/logs/pm-debug.log" />
        <param name="Append" value="true" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d - %5p - %C - %M - %m%n" />
		</layout>
	</appender>
	<logger name="org.springframework">
	    <level value="fatal"/> 
	    <appender-ref ref="PM" />
	    <appender-ref ref="PM-DEBUG" />
	</logger>
	<logger name="org.hibernate">
	    <level value="fatal"/> 
	    <appender-ref ref="PM" />
	    <appender-ref ref="PM-DEBUG" />
	</logger>		
	<root>
		<level value="DEBUG"/>
	   	<appender-ref ref="PM"/>
	   	<appender-ref ref="PM-DEBUG"/>
	</root>
		
</log4j:configuration>